.pre-banner {

    &__main {
        height: 600px;
        position: relative;

        //  90%
        @media (min-width: 1650px) and (max-width: 1890px) {
            height: 666px;
        }

        //  80%
        @media (min-width: 1899px) and (max-width: 1990px) {
            height: 700px;
        }

        //  75%
        @media (min-width: 1999px) and (max-width: 2100px) {
            height: 750px;
        }

        //  75% below
        @media (min-width: 2199px) {
            height: 900px;
        }
    }

    &__bg {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        // height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .pre-btn__wrap {
        position: absolute;
        bottom: 10%;
        left: 41.5%;
        transform: translateX(-41.5%);
        display: flex;
        gap: 15px;

        .pre-btn {
            text-decoration: none;
            transition: all ease 0.5s;
            padding: 15px 28px;
            font-size: 13px;
            text-transform: uppercase;
            border-radius: 10px;
            font-weight: $font-bold;

            span {
                &::after {
                    height: 0.8px;
                }
            }

            &--inv {
                background-color: transparent;
                border: 2px solid $color-white;

                &:hover {
                    color: $color-white;
                }

                span {
                    &::after {
                        height: 0.8px;
                    }
                }
            }
        }
    }
}