.pre-sms {
    margin: 30px 0 60px;

    &__wrap {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 40px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .pre-btn {
            text-transform: uppercase;
        }
    }

    &__content {
        text-align: center;

        h3 {
            font-size: 38px;
            font-weight: $font-bold;
            color: #FAF8FF;
            margin-bottom: 20px;
            text-transform: uppercase;
        }

        h4 {
            font-size: 38px;
            font-weight: $font-regular;
            color: #FAF8FF;
            margin-bottom: 20px;
            text-transform: uppercase;
        }
    }
}

@include tablet {
    .pre-sms {
        &__wrap {
            padding: 20px;
        }

        &__content {

            h3 {
                font-size: 28px;
            }

            h4 {
                font-size: 28px;
            }
        }
    }
}

@include mobile {
    .pre-sms {
        &__wrap {
            padding: 20px;

            .pre-btn {
                font-size: 14px;
            }
        }

        &__content {

            h3 {
                font-size: 18px;
            }

            h4 {
                font-size: 18px;
            }
        }
    }
}