.pre-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 14px 28px;
    background: #eb2027;
    color: #fff;
    text-decoration: none;
    border-radius: 12px;

    span {
        position: relative;
        display: inline-block;

        &::after {
            content: "";
            position: absolute;
            left: 50%;
            bottom: -1px;
            width: 0;
            height: 1px;
            background: #fff;
            border-radius: 999px;
            transform: translateX(-50%);
            transition: width .35s cubic-bezier(.19, 1, .22, 1);
        }
    }

    &:hover {
        color: #fff;
        span::after {
            width: 100%;
        }
    }
}